@font-face {
  font-family: "CodeNext";
  src: url(fonts/CodeNext.ttf) format("truetype");
  font-weight: normal;
}
.header {
  display: flex;
  font-family: "CodeNext", cursive;
  font-size: 60px;
  color: rgb(0, 0, 0);
  align-items: center;
  animation: fadeIn;
  animation-duration: 4s;
}

hr {
  height: 2px;
  background-color: black;
  animation: fadeInLeft;
  animation-duration: 2s;
}

/* grid css below */

:root {
  --columns-row: 2;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

  flex-wrap: wrap;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--columns-row), 1fr);
  grid-template-rows: repeat(var(--columns-row), 1fr);
  width: 700px;
  height: 700px;
  background-color: lightgray;
  transition: background-color 1s linear;
  transition: gap 1s;
  gap: 1px;
  border: 1px solid lightgray;
  border-radius: 5px;
  animation-duration: 2s;
}

#container:hover {
  background-color: transparent;
  gap: 0px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeInUp;
  animation-duration: 2s;
}

/* minimal slider css*/

#sliderContainer {
  padding-top: 40px;
  display: flex;
  font-size: 40px;
  font-family: "CodeNext";
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

#slider {
  margin: 25px;
}

.wrap {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
}

.value {
  position: relative;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  line-height: 1.5em;
}

.value::after {
  content: "€";
  margin-left: 5px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #999;
  border-radius: 5px;
  width: 200px;
  height: 1px;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1);
}

/* surtur eye CSS */
/* credit to codrops' ButtonHoverStyles on GitHub
https://github.com/codrops/ButtonHoverStyles */

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}
.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}

/* Made with the help of Amelia Bellamy-Royds' article "Perfecting Paths for <textPath>": 
https://oreillymedia.github.io/Using_SVG/extras/ch07-textpaths.html */

.button--surtur {
  padding: 0;
  background: none;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
}

.button--surtur:focus-visible {
  background: #443ffc;
}

.textcircle {
  position: relative;
  display: block;
  width: 150px;
}

.textcircle text {
  font-size: 32px;
  text-transform: uppercase;
  fill: #000;
}

.textcircle textPath {
  letter-spacing: 17px; /* Firefox needs this */
}

.button--surtur:hover .textcircle {
  animation: rotateIt 7s linear infinite;
}

.eye {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.eye__outer,
.eye__inner,
.eye__lashes-up,
.eye__lashes-down {
  stroke: #000;
  fill: none;
  stroke-width: 1.5px;
}

.eye__lashes-down {
  opacity: 0;
}

.button--surtur:hover .eye__lashes-up,
.button--surtur:hover .eye__inner,
.button--surtur:hover .eye__iris {
  animation: blinkHide 2s step-end infinite;
}

.button--surtur:hover .eye__lashes-down {
  animation: blinkShow 2s step-end infinite;
}

@keyframes blinkHide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes blinkShow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

* {
  box-sizing: border-box;
}

.multi-button {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}
