@font-face {
  font-family: "CodeNext";
  src: url(fonts/CodeNext.ttf) format("truetype");
  font-weight: normal;
}
.header {
  display: flex;
  font-family: "CodeNext", cursive;
  font-size: 60px;
  color: rgb(0, 0, 0);
  align-items: center;
  animation: fadeIn;
  animation-duration: 4s;
}

hr {
  height: 2px;
  background-color: black;
}

/* grid css below */

:root {
  --columns-row: 2;
}

/* container for grid */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

  flex-wrap: wrap;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--columns-row), 1fr);
  grid-template-rows: repeat(var(--columns-row), 1fr);
  width: 700px;
  height: 700px;
  background-color: lightgray;
  transition: background-color 1s linear;
  transition: gap 1s;
  gap: 1px;
  border: 1px solid lightgray;
  border-radius: 5px;
  animation-duration: 2s;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container:hover {
  background-color: transparent;
  gap: 0px;
}

hr {
  animation: fadeInLeft;
  animation-duration: 2s;
}

body {
  /* font-family: Helvetica, sans-serif;
    color: #999; */
  -webkit-font-smoothing: antialiased;
}

.wrap {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
}

.value {
  position: relative;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  line-height: 1.5em;
}

.value::after {
  content: "€";
  margin-left: 5px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #999;
  border-radius: 5px;
  width: 200px;
  height: 1px;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1);
}

/* minimal slider css*/

a {
  text-decoration: none;
  color: #fff;
}
.rainbow {
  width: calc(20vw + 6px);
  height: calc(8vw + 6px);
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: bold;
}
.rainbow:after {
  content: attr(alt);
  width: 20vw;
  height: 8vw;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
