@font-face {
  font-family: "CodeNext";
  src: url(fonts/CodeNext.ttf) format("truetype");
  font-weight: normal;
}
.header {
  display: flex;
  font-family: "CodeNext", cursive;
  font-size: 60px;
  color: rgb(0, 0, 0);
  align-items: center;
  animation: fadeIn;
  animation-duration: 4s;
}

hr {
  height: 2px;
  background-color: black;
}

/* grid css below */

:root {
  --columns-row: 2;
}

/* container for grid */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

  flex-wrap: wrap;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--columns-row), 1fr);
  grid-template-rows: repeat(var(--columns-row), 1fr);
  width: 700px;
  height: 700px;
  background-color: lightgray;
  transition: background-color 1s linear;
  transition: gap 1s;
  gap: 1px;
  border: 1px solid lightgray;
  border-radius: 5px;
  animation-duration: 2s;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container:hover {
  background-color: transparent;
  gap: 0px;
}

hr {
  animation: fadeInLeft;
  animation-duration: 2s;
}
